@namespace FTTBlazor
@typeparam T

<div class="mdl-cell--@Size-col ftt-blazor-align-left">
    <div class="ftt-blazor-components ftt-blazor-select ftt-blazor-has-float-label @BorderRightCssClass">
        
        <select style="cursor: @StyleIsReadOnly" disabled="@_IsReadOnly" aria-disabled="@_IsReadOnly" id="@_id" data-id="@data_id" @attributes="@attributes" @bind="@Value">
            @if (string.IsNullOrEmpty(Value.ToString()) || Convert.ToInt32(Value) == 0)
            {
                data_id = "00000000-0000-0000-0000-000000000000";

                <option style="display:none;" value="@Value" selected hidden disabled></option>
            }

            @if (DataSource != null)
            {
                @foreach (var item in DataSource)
                {
                    if (item.ToString() == Value.ToString())
                    {
                        data_id = item.ToString();
                        <option selected value="@item">@item</option>
                    }
                    else
                    {
                        <option value="@item"> @item</option>
                    }
                }
            }
        </select>
        <label for="@_id">@Label</label>

    </div>
</div>