@typeparam T

<div class="mdl-cell--@Size-col ftt-blazor-align-left">
    @if (!string.IsNullOrEmpty(_id))
    {
        <div class="ftt-blazor-components ftt-blazor-input ftt-blazor-has-float-link ftt-blazor-has-float-label" style="min-height: 56px; padding-top: 1em; ">
            @if (LinkItem != null)
            {
                <a style="text-decoration: underline black; cursor:pointer;" class="ftt-blazor-link @BorderRightCssClass" id="@_id" @onclick="@(async(e) => { await OpenModal(); })">
                    @if (!string.IsNullOrWhiteSpace(LinkItem?.Name) && LinkItem.Name.Length > 20)
                    {
                        @(LinkItem.Name.Substring(0, 20) + "...")
                    }
                    else
                    {
                        @LinkItem.Name
                    }
                </a>
            }
            else
            {
                <a class="ftt-blazor-link @BorderRightCssClass" id="@_id">
                    @LabelLinkWihtoutItem
                </a>
            }

            <label for="@_id">
                @Title
            </label>

            @if (!string.IsNullOrWhiteSpace(Icon) && LinkItem != null)
            {
                <button type="button" class="ftt-blazor-input-icon" @onclick="@(async(e) => { await OpenModal(); })">
                    <i class="material-icons">@Icon</i>
                </button>
            }
        </div>
    }
</div>