@namespace FTTBlazor

@code {
    /// <summary>
    /// Enable button to add an item (customizable callback event)
    /// </summary>
    [Parameter]
    public bool AddButtonIsVisible { get; set; }

    /// <summary>
    /// Add button callback event to add an item
    /// </summary>
    [Parameter]
    public EventCallback<bool> AddButtonOnClick { get; set; }

    /// <summary>
    /// Header text
    /// </summary>
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null;

    /// <summary>
    /// Determines whether or not content visibility is optional
    /// </summary>
    [Parameter]
    public bool Iscollapsible { get; set; }

    /// <summary>
    /// Determines default visibility of the content
    /// </summary>
    [Parameter]
    public bool IsCollapsed { get; set; } = true;
    private string IsCollapsedCSS = "display:none;";

    /// <summary>
    /// Determines if there is data input to enable the grid
    /// </summary>
    [Parameter]
    public bool FTTFields { get; set; } = false;

    void ChangeIsCollapsedCSS()
    {
        if (IsCollapsed)
            IsCollapsedCSS = "display:none;";
        else
            IsCollapsedCSS = "display:contents;";
    }

    protected override void OnInitialized()
    {
        ChangeIsCollapsedCSS();
        base.OnInitialized();
    }
}

<div class="mdl-cell--12-col ftt-blazor-align-left">
    <div class="ftt-blazor-divider-header" style="display:inline-flex;">
        @if (AddButtonIsVisible)
        {
            <a href="javascript:void(0);" class="btn-workflow-docs-add " style="margin-left: 1rem;" @onclick="@(e=> { AddButtonOnClick.InvokeAsync(true); })">
                <i class="material-icons">add</i>
            </a>
        }

        <span style="width:100%;padding-left: 17px; font-weight:600;">@Title</span>

        @if (Iscollapsible)
        {
            @if (IsCollapsed)
            {
                <a @onclick="@( e=> { IsCollapsed = false; ChangeIsCollapsedCSS(); })" style="padding-right:20px;width:50px;cursor:pointer;"><i class="material-icons" style="transform: rotate(90deg);">double_arrow</i></a>
            }
            else
            {
                <a @onclick="@( e=> { IsCollapsed = true; ChangeIsCollapsedCSS(); })" style="padding-right:20px;width:50px;cursor:pointer;"><i class="material-icons" style="transform: rotate(-90deg);">double_arrow</i></a>
            }
        }
    </div>
</div>

@if (ChildContent != null)
{
    @if (FTTFields)
    {
        <div class="mdl-color--white mdl-cell mdl-cell--12-col mdl-grid" style="padding:3px!important;padding-bottom:0px!important; @IsCollapsedCSS">
            @ChildContent
        </div>
    }
    else
    {
        <div class="mdl-cell--12-col ftt-blazor-align-left" style="@IsCollapsedCSS">
            @ChildContent
        </div>
    }
}